<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spt.firstmybatissinglesource.Mapper.EmployeetrainMapper">
  <resultMap id="BaseResultMap" type="org.spt.firstmybatissinglesource.Entity.Employeetrain">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <result column="trainDate" jdbcType="DATE" property="trainDate" />
    <result column="trainContent" jdbcType="VARCHAR" property="trainContent" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from employeetrain
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.spt.firstmybatissinglesource.Entity.Employeetrain">
    insert into employeetrain (id, eid, trainDate, 
      trainContent, remark)
    values (#{id,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{trainDate,jdbcType=DATE}, 
      #{trainContent,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.spt.firstmybatissinglesource.Entity.Employeetrain">
    update employeetrain
    set eid = #{eid,jdbcType=INTEGER},
      trainDate = #{trainDate,jdbcType=DATE},
      trainContent = #{trainContent,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, eid, trainDate, trainContent, remark
    from employeetrain
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, eid, trainDate, trainContent, remark
    from employeetrain
  </select>
</mapper>