<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spt.firstmybatissinglesource.Mapper.MsgcontentMapper">
  <resultMap id="BaseResultMap" type="org.spt.firstmybatissinglesource.Entity.Msgcontent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from msgcontent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.spt.firstmybatissinglesource.Entity.Msgcontent">
    insert into msgcontent (id, title, message, 
      createDate)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.spt.firstmybatissinglesource.Entity.Msgcontent">
    update msgcontent
    set title = #{title,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, title, message, createDate
    from msgcontent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, title, message, createDate
    from msgcontent
  </select>
</mapper>